# Exploring and Cleaning Player Team Data

In this notebook, we will be exploring and preparing a dataset containing player statistics from various teams. The overall goal is to clean and organize this data in a way that allows us to efficiently analyze and work with team-specific information.

### Step 1: Checking for Missing Values in Team Names

Our first step is to verify the integrity of the dataset by checking for any missing or undefined values in the `Basic Info_Team Name` column. Missing team names could indicate incomplete or faulty data, which could affect subsequent analysis. If any NaN values are found, we will either correct or remove them to ensure that the data is clean before proceeding with further analysis.

In [1]:
import pandas as pd

# Read the data from the CSV file
df = pd.read_csv('../data/deep_player_data.csv')

In [7]:
# Filter the DataFrame (teams with missing or undefined team names)
filtered_df = df[df['Basic Info_Team Name'].isna() | (df['Basic Info_Team Name'] == 'undefined')]

# Select only the player name and team name columns
filtered_df_selected = filtered_df[['Basic Info_Player Name', 'Basic Info_Team Name']]

# Display the selected data
display(filtered_df_selected.head())
display(filtered_df_selected.tail())

    Basic Info_Player Name Basic Info_Team Name
139                 CLASIA            undefined
324                   motm            undefined
562                   chop            undefined
580                stamina            undefined

    Basic Info_Player Name Basic Info_Team Name
139                 CLASIA            undefined
324                   motm            undefined
562                   chop            undefined
580                stamina            undefined

In [8]:
# Get the count of rows in the filtered DataFrame
row_count = filtered_df_selected.shape[0]

# Display the row count
print(f'The number of players/teams in the filtered data: {row_count}')

The number of players/teams in the filtered data: 4

In [11]:
#Checking the original data frame
df_selected = df[['Basic Info_Player Name', 'Basic Info_Team Name']]
display(df_selected.head())

  Basic Info_Player Name Basic Info_Team Name
0                  ZywOo             Vitality
1                 s1mple        Natus Vincere
2                  sh1ro               Spirit
3                   donk               Spirit
4                   deko               Aurora

In [12]:
# Check the data types of the selected columns
team_name_dtype = df['Basic Info_Team Name'].dtype

# Check for NaN values in the 'Basic Info_Team Name' column and count occurrences of each type (NaN or not NaN)
team_name_nan_count = df['Basic Info_Team Name'].isna().sum()
team_name_non_nan_count = df['Basic Info_Team Name'].notna().sum()

# Display the results
print(f"Data type of 'Basic Info_Team Name': {team_name_dtype}")
print(f"Number of NaN values: {team_name_nan_count}")
print(f"Number of non-NaN values: {team_name_non_nan_count}")

Data type of 'Basic Info_Team Name': object
Number of NaN values: 0
Number of non-NaN values: 968

### Step 2: Cleaning the Data

After confirming that no missing values (NaN) are present in the `Basic Info_Team Name` column, we can move forward with cleaning and preparing the dataset. This involves handling outliers, normalizing numerical values, and ensuring that all columns are formatted consistently. 

We aim to normalize the player statistics across all teams to ensure consistent comparisons and analysis. Once the data is cleaned, we will split it into separate dataframes for each team, allowing us to analyze team-specific information more efficiently.

In [16]:
#Checking the original data frame data types
display(df.dtypes)

# Count the number of columns with each data type
type_counts = df.dtypes.value_counts()
print(type_counts)

Summary Stats_DPR                               float64
Summary Stats_KPR                               float64
Detailed Stats_Deaths / round                   float64
Role Stats_Firepower_Score                       object
Role Stats_Opening_Win% after opening kill       object
                                                 ...
Detailed Stats_Maps played                        int64
Role Stats_Trading_Saved teammate per round     float64
Summary Stats_Rating 2.0                        float64
Role Stats_Opening_Score                         object
Role Stats_Entrying_Traded deaths percentage     object
Length: 74, dtype: object

float64    37
object     32
int64       5
Name: count, dtype: int64

In [17]:
type_dict = {str(t): df.select_dtypes(include=[t]).columns.tolist() for t in df.dtypes.unique()}
for t, cols in type_dict.items():
    print(f"\n{t}:")
    print(", ".join(cols))

float64:
Summary Stats_DPR, Summary Stats_KPR, Detailed Stats_Deaths / round, Detailed Stats_Damage / Round, Role Stats_Opening_Opening deaths per round, Detailed Stats_Assists / round, Role Stats_Sniping_Sniper kills per round, Role Stats_Opening_Opening kills per round, Role Stats_Sniping_Sniper multi-kill rounds, Detailed Stats_Kills / round, Detailed Stats_Rating 1.0, Detailed Stats_Rating 2.0, Role Stats_Clutching_Clutch points per round, Role Stats_Entrying_Saved by teammate per round, Role Stats_Utility_Utility kills per 100 rounds, Summary Stats_Impact, Role Stats_Utility_Flashes thrown per round, Role Stats_Firepower_Kills per round, Detailed Stats_Saved by teammate / round, Role Stats_Entrying_Traded deaths per round, Role Stats_Entrying_Assists per round, Role Stats_Trading_Trade kills per round, Role Stats_Utility_Flash assists per round, Role Stats_Utility_Time opponent flashed per round, Summary Stats_Rating 1.0, Summary Stats_ADR, Role Stats_Utility_Utility damage per round, Detailed Stats_Saved teammates / round, Role Stats_Firepower_Damage per round, Detailed Stats_K/D Ratio, Role Stats_Firepower_Kills per round win, Role Stats_Opening_Attacks per round, Role Stats_Firepower_Damage per round win, Role Stats_Sniping_Sniper opening kills per round, Detailed Stats_Grenade dmg / Round, Role Stats_Trading_Saved teammate per round, Summary Stats_Rating 2.0

object:
Role Stats_Firepower_Score, Role Stats_Opening_Win% after opening kill, Role Stats_Clutching_Score, Detailed Stats_Headshot %, Role Stats_Entrying_Support rounds, Basic Info_Team Name, Role Stats_Sniping_Rounds with sniper kills percentage, URL, Role Stats_Firepower_Rating 2.0, Role Stats_Opening_Opening success, Role Stats_Firepower_Rounds with a kill, Role Stats_Firepower_Rounds with a multi-kill, Role Stats_Entrying_Score, Basic Info_Age, Role Stats_Trading_Trade kills percentage, Role Stats_Clutching_Saves per round loss, Role Stats_Trading_Score, Role Stats_Entrying_Opening deaths traded percentage, Summary Stats_KAST, Role Stats_Trading_Assisted kills percentage, Basic Info_Real Name, Role Stats_Clutching_1on1 win percentage, Role Stats_Firepower_Pistol round rating, Role Stats_Sniping_Sniper kills percentage, Role Stats_Sniping_Score, Basic Info_Player Name, Role Stats_Opening_Opening attempts, Role Stats_Utility_Score, Role Stats_Clutching_Time alive per round, Role Stats_Clutching_Last alive percentage, Role Stats_Opening_Score, Role Stats_Entrying_Traded deaths percentage

int64:
Detailed Stats_Total kills, Detailed Stats_Total deaths, Role Stats_Trading_Damage per kill, Detailed Stats_Rounds played, Detailed Stats_Maps played