In [1]:
import pandas as pd

# Read the data from the CSV file
df = pd.read_csv('../data/deep_player_data.csv')

In [7]:
# Filter the DataFrame (teams with missing or undefined team names)
filtered_df = df[df['Basic Info_Team Name'].isna() | (df['Basic Info_Team Name'] == 'undefined')]

# Select only the player name and team name columns
filtered_df_selected = filtered_df[['Basic Info_Player Name', 'Basic Info_Team Name']]

# Display the selected data
display(filtered_df_selected.head())
display(filtered_df_selected.tail())

    Basic Info_Player Name Basic Info_Team Name
139                 CLASIA            undefined
324                   motm            undefined
562                   chop            undefined
580                stamina            undefined

    Basic Info_Player Name Basic Info_Team Name
139                 CLASIA            undefined
324                   motm            undefined
562                   chop            undefined
580                stamina            undefined

In [8]:
# Get the count of rows in the filtered DataFrame
row_count = filtered_df_selected.shape[0]

# Display the row count
print(f'The number of players/teams in the filtered data: {row_count}')

The number of players/teams in the filtered data: 4

In [11]:
#Checking the original data frame
df_selected = df[['Basic Info_Player Name', 'Basic Info_Team Name']]
display(df_selected.head())

  Basic Info_Player Name Basic Info_Team Name
0                  ZywOo             Vitality
1                 s1mple        Natus Vincere
2                  sh1ro               Spirit
3                   donk               Spirit
4                   deko               Aurora

In [12]:
# Check the data types of the selected columns
team_name_dtype = df['Basic Info_Team Name'].dtype

# Check for NaN values in the 'Basic Info_Team Name' column and count occurrences of each type (NaN or not NaN)
team_name_nan_count = df['Basic Info_Team Name'].isna().sum()
team_name_non_nan_count = df['Basic Info_Team Name'].notna().sum()

# Display the results
print(f"Data type of 'Basic Info_Team Name': {team_name_dtype}")
print(f"Number of NaN values: {team_name_nan_count}")
print(f"Number of non-NaN values: {team_name_non_nan_count}")

Data type of 'Basic Info_Team Name': object
Number of NaN values: 0
Number of non-NaN values: 968