# Exploring and Cleaning Player Team Data

In this notebook, we will be exploring and preparing a dataset containing player statistics from various teams. The overall goal is to clean and organize this data in a way that allows us to efficiently analyze and work with team-specific information.

### Step 1: Checking for Missing Values in Team Names

Our first step is to verify the integrity of the dataset by checking for any missing or undefined values in the `Basic Info_Team Name` column. Missing team names could indicate incomplete or faulty data, which could affect subsequent analysis. If any NaN values are found, we will either correct or remove them to ensure that the data is clean before proceeding with further analysis.

In [2]:
import pandas as pd

# Read the data from the CSV file
df = pd.read_csv('../data/deep_player_data.csv')

In [3]:
# Filter the DataFrame (teams with missing or undefined team names)
filtered_df = df[df['Basic Info_Team Name'].isna() | (df['Basic Info_Team Name'] == 'undefined')]

# Select only the player name and team name columns
filtered_df_selected = filtered_df[['Basic Info_Player Name', 'Basic Info_Team Name']]

# Display the selected data
display(filtered_df_selected.head())
display(filtered_df_selected.tail())

    Basic Info_Player Name Basic Info_Team Name
139                 CLASIA            undefined
324                   motm            undefined
562                   chop            undefined
580                stamina            undefined

    Basic Info_Player Name Basic Info_Team Name
139                 CLASIA            undefined
324                   motm            undefined
562                   chop            undefined
580                stamina            undefined

In [4]:
# Get the count of rows in the filtered DataFrame
row_count = filtered_df_selected.shape[0]

# Display the row count
print(f'The number of players/teams in the filtered data: {row_count}')

The number of players/teams in the filtered data: 4

In [5]:
#Checking the original data frame
df_selected = df[['Basic Info_Player Name', 'Basic Info_Team Name']]
display(df_selected.head())

  Basic Info_Player Name Basic Info_Team Name
0                  ZywOo             Vitality
1                 s1mple        Natus Vincere
2                  sh1ro               Spirit
3                   donk               Spirit
4                   deko               Aurora

In [6]:
# Check the data types of the selected columns
team_name_dtype = df['Basic Info_Team Name'].dtype

# Check for NaN values in the 'Basic Info_Team Name' column and count occurrences of each type (NaN or not NaN)
team_name_nan_count = df['Basic Info_Team Name'].isna().sum()
team_name_non_nan_count = df['Basic Info_Team Name'].notna().sum()

# Display the results
print(f"Data type of 'Basic Info_Team Name': {team_name_dtype}")
print(f"Number of NaN values: {team_name_nan_count}")
print(f"Number of non-NaN values: {team_name_non_nan_count}")

Data type of 'Basic Info_Team Name': object
Number of NaN values: 0
Number of non-NaN values: 968

In [7]:
# Get unique values in the 'Basic Info_Team Name' column
unique_teams = df['Basic Info_Team Name'].unique()

# Count occurrences of each unique value
team_counts = df['Basic Info_Team Name'].value_counts(dropna=False)

# Display unique values and their counts
print("Unique team names and their counts:")
print(team_counts)

# Check for empty strings or whitespace-only entries
empty_entries = df[df['Basic Info_Team Name'].str.strip() == '']
print(f"\nNumber of empty or whitespace-only entries: {len(empty_entries)}")

# Check for entries that might indicate no team
no_team_entries = df[df['Basic Info_Team Name'].str.lower().isin(['no team', 'none', 'n/a', 'unknown'])]
print(f"\nNumber of entries potentially indicating no team: {len(no_team_entries)}")

# Check for unusually short team names (less than 2 characters)
short_names = df[df['Basic Info_Team Name'].str.len() < 2]
print(f"\nNumber of unusually short team names: {len(short_names)}")

# Display any unusual entries for manual inspection
print("\nUnusual entries (if any):")
unusual_entries = team_counts[team_counts < 5]
print(unusual_entries)

Unique team names and their counts:
Basic Info_Team Name
No team              383
Ninjas in Pyjamas      8
OG                     7
G2                     7
Into the Breach        7
                    ...
Arcade                 1
MASONIC                1
ENCE Academy           1
Punishers              1
MIBR Academy           1
Name: count, Length: 185, dtype: int64

Number of empty or whitespace-only entries: 0

Number of entries potentially indicating no team: 383

Number of unusually short team names: 0

Unusual entries (if any):
Basic Info_Team Name
ESC             4
TSM             4
KRÃœ             4
undefined       4
Liquid          4
               ..
Arcade          1
MASONIC         1
ENCE Academy    1
Punishers       1
MIBR Academy    1
Name: count, Length: 133, dtype: int64

### Step 2: Cleaning the Data

After confirming that no missing values (NaN) are present in the `Basic Info_Team Name` column only solo players listed under no team, we can move forward with cleaning and preparing the dataset. This involves handling outliers, normalizing numerical values, and ensuring that all columns are formatted consistently. 

We aim to normalize the player statistics across all teams to ensure consistent comparisons and analysis. Once the data is cleaned, we will split it into separate dataframes for each team, allowing us to analyze team-specific information more efficiently.

In [16]:
#Checking the original data frame data types
display(df.dtypes)

# Count the number of columns with each data type
type_counts = df.dtypes.value_counts()
print(type_counts)

Summary Stats_DPR                               float64
Summary Stats_KPR                               float64
Detailed Stats_Deaths / round                   float64
Role Stats_Firepower_Score                       object
Role Stats_Opening_Win% after opening kill       object
                                                 ...
Detailed Stats_Maps played                        int64
Role Stats_Trading_Saved teammate per round     float64
Summary Stats_Rating 2.0                        float64
Role Stats_Opening_Score                         object
Role Stats_Entrying_Traded deaths percentage     object
Length: 74, dtype: object

float64    37
object     32
int64       5
Name: count, dtype: int64

In [17]:
type_dict = {str(t): df.select_dtypes(include=[t]).columns.tolist() for t in df.dtypes.unique()}
for t, cols in type_dict.items():
    print(f"\n{t}:")
    print(", ".join(cols))

float64:
Summary Stats_DPR, Summary Stats_KPR, Detailed Stats_Deaths / round, Detailed Stats_Damage / Round, Role Stats_Opening_Opening deaths per round, Detailed Stats_Assists / round, Role Stats_Sniping_Sniper kills per round, Role Stats_Opening_Opening kills per round, Role Stats_Sniping_Sniper multi-kill rounds, Detailed Stats_Kills / round, Detailed Stats_Rating 1.0, Detailed Stats_Rating 2.0, Role Stats_Clutching_Clutch points per round, Role Stats_Entrying_Saved by teammate per round, Role Stats_Utility_Utility kills per 100 rounds, Summary Stats_Impact, Role Stats_Utility_Flashes thrown per round, Role Stats_Firepower_Kills per round, Detailed Stats_Saved by teammate / round, Role Stats_Entrying_Traded deaths per round, Role Stats_Entrying_Assists per round, Role Stats_Trading_Trade kills per round, Role Stats_Utility_Flash assists per round, Role Stats_Utility_Time opponent flashed per round, Summary Stats_Rating 1.0, Summary Stats_ADR, Role Stats_Utility_Utility damage per round, Detailed Stats_Saved teammates / round, Role Stats_Firepower_Damage per round, Detailed Stats_K/D Ratio, Role Stats_Firepower_Kills per round win, Role Stats_Opening_Attacks per round, Role Stats_Firepower_Damage per round win, Role Stats_Sniping_Sniper opening kills per round, Detailed Stats_Grenade dmg / Round, Role Stats_Trading_Saved teammate per round, Summary Stats_Rating 2.0

object:
Role Stats_Firepower_Score, Role Stats_Opening_Win% after opening kill, Role Stats_Clutching_Score, Detailed Stats_Headshot %, Role Stats_Entrying_Support rounds, Basic Info_Team Name, Role Stats_Sniping_Rounds with sniper kills percentage, URL, Role Stats_Firepower_Rating 2.0, Role Stats_Opening_Opening success, Role Stats_Firepower_Rounds with a kill, Role Stats_Firepower_Rounds with a multi-kill, Role Stats_Entrying_Score, Basic Info_Age, Role Stats_Trading_Trade kills percentage, Role Stats_Clutching_Saves per round loss, Role Stats_Trading_Score, Role Stats_Entrying_Opening deaths traded percentage, Summary Stats_KAST, Role Stats_Trading_Assisted kills percentage, Basic Info_Real Name, Role Stats_Clutching_1on1 win percentage, Role Stats_Firepower_Pistol round rating, Role Stats_Sniping_Sniper kills percentage, Role Stats_Sniping_Score, Basic Info_Player Name, Role Stats_Opening_Opening attempts, Role Stats_Utility_Score, Role Stats_Clutching_Time alive per round, Role Stats_Clutching_Last alive percentage, Role Stats_Opening_Score, Role Stats_Entrying_Traded deaths percentage

int64:
Detailed Stats_Total kills, Detailed Stats_Total deaths, Role Stats_Trading_Damage per kill, Detailed Stats_Rounds played, Detailed Stats_Maps played

In [18]:
# Check the number of unique values in each object column
for col in df.select_dtypes(include=['object']):
    print(f"\nColumn: {col}")
    print(df[col].head()) 
    print(df[col].nunique(), "unique values")

Column: Role Stats_Firepower_Score
0    98/100
1    97/100
2    85/100
3    98/100
4    89/100
Name: Role Stats_Firepower_Score, dtype: object
87 unique values

Column: Role Stats_Opening_Win% after opening kill
0    74.5%
1    75.6%
2    77.3%
3    73.8%
4    73.2%
Name: Role Stats_Opening_Win% after opening kill, dtype: object
111 unique values

Column: Role Stats_Clutching_Score
0    75/100
1    52/100
2    83/100
3    37/100
4    73/100
Name: Role Stats_Clutching_Score, dtype: object
59 unique values

Column: Detailed Stats_Headshot %
0    41.3%
1    41.1%
2    28.9%
3    60.6%
4    38.3%
Name: Detailed Stats_Headshot %, dtype: object
327 unique values

Column: Role Stats_Entrying_Support rounds
0    15.3%
1    10.5%
2    19.4%
3    12.4%
4    16.3%
Name: Role Stats_Entrying_Support rounds, dtype: object
134 unique values

Column: Basic Info_Team Name
0         Vitality
1    Natus Vincere
2           Spirit
3           Spirit
4           Aurora
Name: Basic Info_Team Name, dtype: object
185 unique values

Column: Role Stats_Sniping_Rounds with sniper kills percentage
0    14.7%
1    15.5%
2    24.6%
3     0.9%
4    16.5%
Name: Role Stats_Sniping_Rounds with sniper kills percentage, dtype: object
181 unique values

Column: URL
0    https://www.hltv.org/stats/players/11893/zywoo
1    https://www.hltv.org/stats/players/7998/s1mple
2    https://www.hltv.org/stats/players/16920/sh1ro
3     https://www.hltv.org/stats/players/21167/donk
4     https://www.hltv.org/stats/players/20113/deko
Name: URL, dtype: object
968 unique values

Column: Role Stats_Firepower_Rating 2.0
0    1.29
1       -
2    1.22
3    1.28
4    1.17
Name: Role Stats_Firepower_Rating 2.0, dtype: object
39 unique values

Column: Role Stats_Opening_Opening success
0    54.6%
1    55.3%
2    59.5%
3    51.4%
4    56.3%
Name: Role Stats_Opening_Opening success, dtype: object
187 unique values

Column: Role Stats_Firepower_Rounds with a kill
0    50.1%
1    51.8%
2    48.8%
3    51.9%
4    49.2%
Name: Role Stats_Firepower_Rounds with a kill, dtype: object
118 unique values

Column: Role Stats_Firepower_Rounds with a multi-kill
0    20.0%
1    21.0%
2    17.4%
3    21.6%
4    18.1%
Name: Role Stats_Firepower_Rounds with a multi-kill, dtype: object
92 unique values

Column: Role Stats_Entrying_Score
0    43/100
1     6/100
2    15/100
3    63/100
4    17/100
Name: Role Stats_Entrying_Score, dtype: object
89 unique values

Column: Basic Info_Age
0    23 years
1    26 years
2    23 years
3    17 years
4    23 years
Name: Basic Info_Age, dtype: object
23 unique values

Column: Role Stats_Trading_Trade kills percentage
0    23.8%
1    17.6%
2    25.8%
3    24.2%
4    23.9%
Name: Role Stats_Trading_Trade kills percentage, dtype: object
174 unique values

Column: Role Stats_Clutching_Saves per round loss
0    2.0%
1    3.8%
2    8.9%
3    2.6%
4    5.9%
Name: Role Stats_Clutching_Saves per round loss, dtype: object
65 unique values

Column: Role Stats_Trading_Score
0    54/100
1    26/100
2    60/100
3    70/100
4    51/100
Name: Role Stats_Trading_Score, dtype: object
75 unique values

Column: Role Stats_Entrying_Opening deaths traded percentage
0    30.3%
1    13.5%
2    23.7%
3    27.0%
4    24.5%
Name: Role Stats_Entrying_Opening deaths traded percentage, dtype: object
230 unique values

Column: Summary Stats_KAST
0    75.4%
1    73.9%
2    76.3%
3    74.1%
4    74.7%
Name: Summary Stats_KAST, dtype: object
98 unique values

Column: Role Stats_Trading_Assisted kills percentage
0    16.1%
1     8.1%
2    10.0%
3    18.1%
4     7.7%
Name: Role Stats_Trading_Assisted kills percentage, dtype: object
228 unique values

Column: Basic Info_Real Name
0        Mathieu Herbaut
1    Oleksandr Kostyliev
2         Dmitry Sokolov
3      Danil Kryshkovets
4           Denis Zhukov
Name: Basic Info_Real Name, dtype: object
968 unique values

Column: Role Stats_Clutching_1on1 win percentage
0    77.4%
1    70.6%
2    74.2%
3    75.0%
4    68.6%
Name: Role Stats_Clutching_1on1 win percentage, dtype: object
220 unique values

Column: Role Stats_Firepower_Pistol round rating
0    1.42
1       -
2    1.33
3    1.42
4    1.23
Name: Role Stats_Firepower_Pistol round rating, dtype: object
60 unique values

Column: Role Stats_Sniping_Sniper kills percentage
0    26.9%
1    28.8%
2    46.7%
3     1.5%
4    31.5%
Name: Role Stats_Sniping_Sniper kills percentage, dtype: object
238 unique values

Column: Role Stats_Sniping_Score
0    86/100
1    87/100
2    93/100
3     1/100
4    91/100
Name: Role Stats_Sniping_Score, dtype: object
71 unique values

Column: Basic Info_Player Name
0     ZywOo
1    s1mple
2     sh1ro
3      donk
4      deko
Name: Basic Info_Player Name, dtype: object
966 unique values

Column: Role Stats_Opening_Opening attempts
0    22.3%
1    20.2%
2    13.1%
3    27.2%
4    12.9%
Name: Role Stats_Opening_Opening attempts, dtype: object
176 unique values

Column: Role Stats_Utility_Score
0    61/100
1    37/100
2    66/100
3    28/100
4    58/100
Name: Role Stats_Utility_Score, dtype: object
84 unique values

Column: Role Stats_Clutching_Time alive per round
0    1m 10s
1    0m 59s
2    1m 19s
3     1m 6s
4    1m 20s
Name: Role Stats_Clutching_Time alive per round, dtype: object
89 unique values

Column: Role Stats_Clutching_Last alive percentage
0    12.5%
1    12.4%
2    17.8%
3     6.9%
4    17.1%
Name: Role Stats_Clutching_Last alive percentage, dtype: object
141 unique values

Column: Role Stats_Opening_Score
0    89/100
1    87/100
2    60/100
3    86/100
4    54/100
Name: Role Stats_Opening_Score, dtype: object
78 unique values

Column: Role Stats_Entrying_Traded deaths percentage
0    22.5%
1    13.5%
2    17.8%
3    22.9%
4    18.4%
Name: Role Stats_Entrying_Traded deaths percentage, dtype: object
169 unique values